    <h3>Stupid Coaching</h3>
    <p>Ask your coach anything</p>

    <%= form_tag('answer', method: 'get') do %>
      <%= label_tag(:question, "")%>
      <%= text_field_tag(:question) %>
      <%= submit_tag("Ask") %>
    <% end %>

